1 VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Aegis Security\0"
      VALUE "FileDescription", "Aegis Database and Trusted Proxy Updater\0"
      VALUE "FileVersion", "2.0.0\0"
      VALUE "InternalName", "aegis-updater\0"
      VALUE "LegalCopyright", "Copyright Aegis Security\0"
      VALUE "OriginalFilename", "aegis-updater.exe\0"
      VALUE "ProductName", "Aegis Updater\0"
      VALUE "ProductVersion", "2.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
