[Unit]
Description=Hourly Aegis trusted proxy list update

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
